body{
  background-image: url("Imagenes/FondoRetro.png");
  background-color: grey !important;
  background-size: cover;
}

header h1, img{
  border: 4px black solid;
  background-color: black;
  color: white;
  font-family: Courier, Arial, Verdana;
  box-shadow: 5px 10px;
}

h2{ text-decoration: underline; }

p > b{
  color: white;
}

td.radio{
  border: 2px solid;
  text-align: left;
  padding: 2px;
  border-radius: 20px;
  color: white;
  background-color: black;
  box-shadow: 5px 10px;
} 

table.caract {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

td, th {
  border: 1px solid;
  text-align: center;
  padding: 8px;
}

tr.color1{ background-color: #424949 ; } tr.color2{ background-color: #515A5A; } tr.color3{ background-color: #616A6B ; } tr.color4{ background-color: #707B7C; }
tr.color5{ background-color: #7F8C8D ; } tr.color6{ background-color: #99A3A4 ; } tr.color7{ background-color: #B2BABB; }

a[target=_blank] { font-style: italic; } a:link{ color:black; } a:visited{ color: white; } a:hover{ color: red; } 

tr#color1{ background-color: #5D6D7E; } tr#color2{ background-color: #85929E; }

meter{
  border: 1px solid;
}

img.central {
  background-image: url("Imagenes/FotoCVRetro.jpg");
  width: 100px;
  height: 100px;
}

img.left {
  margin-left: 450px;
  float: left;
  background-image: url("Imagenes/HTML5Retro.jpg");
  width: 100px;
  height: 100px;
}

img.right {
  margin-right:450px;
  float: right;
  background-image: url("Imagenes/CSSRetro.jpg");
  width: 100px; 
  height: 100px;
}

progress {background-color: green;}

input[type=submit]{
  background-color: grey;
  box-shadow: 5px 10px;
}

input.left{
float: left;
margin-left: 10px;
}

input.right{
float: right;
margin-right: 10px;
}